# Exploration of a single ICU sepsis data log

In [1]:
# Imports
import pandas

In [20]:
path = '../training/'

In [28]:
# Choose patient sample
sample_num = 1

In [31]:
# Import and print dataframe layout
samplestr = 'p' + (str(sample_num) + '.psv').rjust(9, '0')
fname = path + samplestr
df = pandas.read_csv(fname, sep = '|')
print(fname, ' file:')
print(df)

../training/p00001.psv  file:
       HR  O2Sat  Temp    SBP   MAP   DBP  Resp  EtCO2  BaseExcess  HCO3  \
0     NaN    NaN   NaN    NaN   NaN   NaN   NaN    NaN         NaN   NaN
1    93.0   92.5   NaN  110.0  76.0  56.0  22.0    NaN         NaN   NaN
2    91.0   96.0   NaN  108.0  84.5  72.0  23.5    NaN         NaN   NaN
3    93.0   98.0   NaN  123.0  87.0  61.0  21.0    NaN         NaN   NaN
4    93.0   95.0   NaN  110.0  81.0  70.0  20.0    NaN         NaN   NaN
5     NaN    NaN   NaN    NaN   NaN   NaN   NaN    NaN         NaN   NaN
6    91.5   97.0  36.5  104.0  75.0  60.0  20.0    NaN         NaN   NaN
7    94.0   95.0   NaN  114.0  85.0  66.0  20.0    NaN         NaN   NaN
8    94.0   95.0   NaN  121.0  88.0  69.0  20.0    NaN         NaN   NaN
9   102.0   95.0   NaN  117.0  89.0  70.0  20.0    NaN         NaN   NaN
10  106.0   97.0  36.8  107.0  82.0  68.0  20.0    NaN         NaN   NaN
11  107.0   95.0   NaN  112.0  86.0  67.0  20.0    NaN         NaN   NaN
12  102.0   95.0   NaN  108.0  80.0  59.0  20.0    NaN         NaN   NaN
13   98.0   95.0   NaN  112.0  81.0  61.0  20.0    NaN         NaN   NaN
14   95.0   96.0  36.6  110.0  82.0  61.0  20.0    NaN         NaN   NaN
15  105.0   94.0   NaN  119.0  86.0  63.0  22.0    NaN         NaN   NaN
16   94.0   93.0   NaN  114.0  84.0  63.0  16.0    NaN         NaN   NaN
17   98.0   97.0   NaN  116.0  84.0  63.0  22.0    NaN         NaN   NaN
18   98.0   99.0  36.9  121.0  86.0  62.0  18.0    NaN         NaN   NaN
19  105.0   95.0   NaN  106.0  76.0  55.0  18.0    NaN         NaN   NaN
20   96.0   93.0   NaN  110.0  81.0  62.0  16.0    NaN         NaN   NaN
21  102.0   96.0   NaN  115.0  85.0  67.0  18.0    NaN         NaN   NaN
22  105.0   97.0  37.0  108.0  83.0  69.0  16.0    NaN         NaN   NaN
23  107.0   92.0   NaN  116.0  87.0  70.0  16.0    NaN         NaN   NaN

       ...        WBC  Fibrinogen  Platelets  Age  Gender  Unit1  Unit2  \
0      ...        NaN         NaN        NaN   73       1      1      0
1      ...        NaN         NaN        NaN   73       1      1      0
2      ...        NaN         NaN        NaN   73       1      1      0
3      ...        NaN         NaN        NaN   73       1      1      0
4      ...        NaN         NaN        NaN   73       1      1      0
5      ...        NaN         NaN        NaN   73       1      1      0
6      ...        NaN         NaN        NaN   73       1      1      0
7      ...        NaN         NaN        NaN   73       1      1      0
8      ...        NaN         NaN        NaN   73       1      1      0
9      ...        NaN         NaN        NaN   73       1      1      0
10     ...        NaN         NaN        NaN   73       1      1      0
11     ...        NaN         NaN        NaN   73       1      1      0
12     ...       10.8         NaN      170.0   73       1      1      0
13     ...        NaN         NaN        NaN   73       1      1      0
14     ...        NaN         NaN        NaN   73       1      1      0
15     ...        NaN         NaN        NaN   73       1      1      0
16     ...        NaN         NaN        NaN   73       1      1      0
17     ...        NaN         NaN        NaN   73       1      1      0
18     ...        NaN         NaN        NaN   73       1      1      0
19     ...        NaN         NaN        NaN   73       1      1      0
20     ...        NaN         NaN        NaN   73       1      1      0
21     ...        NaN         NaN        NaN   73       1      1      0
22     ...        NaN         NaN        NaN   73       1      1      0
23     ...        NaN         NaN        NaN   73       1      1      0

    HospAdmTime  ICULOS  SepsisLabel
0       -214.64       1            0
1       -214.64       2            0
2       -214.64       3            0
3       -214.64       4            0
4       -214.64       5            0
5       -214.64       6            0
6       -214.64       7            0
7       -214.64       8            0
8       -214.64       9            0
9       -214.64      10            0
10      -214.64      11            0
11      -214.64      12            0
12      -214.64      13            0
13      -214.64      14            0
14      -214.64      15            0
15      -214.64      16            0
16      -214.64      17            0
17      -214.64      18            0
18      -214.64      19            0
19      -214.64      20            0
20      -214.64      21            0
21      -214.64      22            0
22      -214.64      23            0
23      -214.64      24            0

[24 rows x 41 columns]

In [30]:
df

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,1,0
1,93.0,92.5,NaN,110.0,76.0,56.0,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,2,0
2,91.0,96.0,NaN,108.0,84.5,72.0,23.5,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,3,0
3,93.0,98.0,NaN,123.0,87.0,61.0,21.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,4,0
4,93.0,95.0,NaN,110.0,81.0,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,5,0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,6,0
6,91.5,97.0,36.5,104.0,75.0,60.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,7,0
7,94.0,95.0,NaN,114.0,85.0,66.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,8,0
8,94.0,95.0,NaN,121.0,88.0,69.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,9,0
9,102.0,95.0,NaN,117.0,89.0,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,10,0
10,106.0,97.0,36.8,107.0,82.0,68.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,11,0
11,107.0,95.0,NaN,112.0,86.0,67.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,12,0
12,102.0,95.0,NaN,108.0,80.0,59.0,20.0,NaN,NaN,NaN,...,10.8,NaN,170.0,73,1,1,0,-214.64,13,0
13,98.0,95.0,NaN,112.0,81.0,61.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,14,0
14,95.0,96.0,36.6,110.0,82.0,61.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,15,0
15,105.0,94.0,NaN,119.0,86.0,63.0,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,16,0
16,94.0,93.0,NaN,114.0,84.0,63.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,17,0
17,98.0,97.0,NaN,116.0,84.0,63.0,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,18,0
18,98.0,99.0,36.9,121.0,86.0,62.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,19,0
19,105.0,95.0,NaN,106.0,76.0,55.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,20,0
20,96.0,93.0,NaN,110.0,81.0,62.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,21,0
21,102.0,96.0,NaN,115.0,85.0,67.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,22,0
22,105.0,97.0,37.0,108.0,83.0,69.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,23,0
23,107.0,92.0,NaN,116.0,87.0,70.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,73,1,1,0,-214.64,24,0